.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  width: 300px;
  box-shadow: 0px 5px 15px rgba(140, 140, 140, 0.5);
  padding: 20px;
  background-color: #eee;
}

h2 {
  color: white;
}

.hello {
  margin-bottom: 10px;
}

.nav-ink {
  text-decoration: none;
}

.entryCard {
  margin-bottom: 10px;
}

h3,
h5 {
  color: white;
}
